<template>
    <v-card>
        <v-card-title>
            Companies
            <v-spacer></v-spacer>
            <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="companies"
                :search="search"
                :items-per-page="5"
                class="elevation-1"
                >
            <template v-slot:item.photo="{ item }">
                <div class="p-2">
                    <v-avatar color="indigo">
                        <v-icon v-if="!item.photo" dark>mdi-account-circle</v-icon>
                        <v-img v-else :src="item.photo" alt="ABC"></v-img>
                    </v-avatar>
                </div>
            </template>
            <template v-slot:item.view="{ item }">
                <v-icon
                        small
                        class="mr-2"
                @click="viewCompany(item)"
                >
                mdi-eye
                </v-icon>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                search: '',
                headers: [
                    {
                        text: 'Photo',
                        value: 'photo',
                        sortable: false,
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Description',
                        value: 'description'
                    },
                    {
                        text: 'View Company Profile',
                        value: 'view',
                        sortable: false
                    }
                ],
                companies: []
            }
        },
        created() {
            this.getCompanies();
        },
        methods: {
            getCompanies() {
                let uri = `${process.env.MIX_APP_URL}/api/companies`;
                axios.get(uri).then(response => {
                    this.companies = response.data.data;
                });
            },
            viewCompany(item) {
               this.$router.push({name: 'view', params: {id: item.id}});
            }
        },
    }
</script>
