<template>
    <v-row>
        <v-card>
            <v-card-title>{{ company.name }}</v-card-title>
            <v-row>
                <v-col cols="2">
                    <v-avatar color="indigo"
                              tile
                            size="100" class="profile">
                        <v-icon v-if="!company.photo" dark large>mdi-account-circle</v-icon>
                        <v-img v-else :src="company.photo" alt="ABC"></v-img>
                    </v-avatar>
                </v-col>

                <v-col cols="10">
                    <p>{{ company.description }}</p>
                    <v-spacer></v-spacer>
                    <v-row  v-if="$auth.ready() && $auth.check()">
                        <v-col cols="12">
                        <v-list v-if="Array.isArray(company.comments) && company.comments.length" three-line>
                            <v-subheader>COMMENTS</v-subheader>
                            <template v-for="(item, i) in company.comments"
                                    >
                            <v-list-item
                            @click="">
                            <v-list-item-avatar color="indigo">
                                <v-icon v-if="!item.photo" dark>mdi-account-circle</v-icon>
                                <v-img v-else :src="item.photo" alt="ABC"></v-img>
                            </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title v-text="item.name"></v-list-item-title>
                                    <v-list-item-subtitle v-text="item.comment"></v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                                <v-divider></v-divider>
                            </template>
                        </v-list>
                        <v-spacer></v-spacer>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" persistent max-width="600px">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="primary" dark v-on="on">Leave a comment</v-btn>
                                </template>
                                <v-card>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12">
                                                    <v-textarea
                                                            v-model="comment"
                                                            clearable
                                                            clear-icon="cancel"
                                                            label="Comment"
                                                            ></v-textarea>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                                        <v-btn color="blue darken-1" text @click="saveComment">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>

                        </v-card-actions>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-card>
    </v-row>
</template>
<script>
    export default
    {
        data()
        {
            return {
                company: {},
                dialog: false,
                comment: ''
            }
        },
        created()
        {
            this.getCompany();
        },
        methods: {
            getCompany()
            {
                let uri = `${process.env.MIX_APP_URL}/api/companies/${this.$route.params.id}`;
                axios.get(uri).then(response => {
                    this.company = response.data.data;
                });
            },
            saveComment()
            {
                let uri = `${process.env.MIX_APP_URL}/api/comment/save`;
                let data = {
                    comment: this.comment,
                    commented_company_id: this.$route.params.id,
                    commenting_company_id: this.$auth.user().id
                };
                axios.post(uri, data).then(response => {
                    this.company.comments.push({
                            comment: this.comment,
                            photo: this.$auth.user().photo,
                            name: this.$auth.user().name
                        });
                    });
                this.dialog = false;
            }
        },
    }
</script>
