<template>
    <v-card>
        <v-card-title>
            Employees
            <v-spacer></v-spacer>
            <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="employees"
                group-by="company"
                sort-by="company"
                :search="search"
                :items-per-page="5"
                class="elevation-1"
                >
        </v-data-table>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                search: '',
                headers: [
                    {
                        text: 'Company',
                        value: 'company',
                    },
                    {
                        text: 'Position',
                        value: 'position'
                    },
                    {
                        text: 'Salary',
                        value: 'salary'
                    }
                ],
                employees: []
            }
        },
        created() {
            this.getEmployees();
        },
        methods: {
            getEmployees() {
                let uri = `${process.env.MIX_APP_URL}/api/employees`;
                axios.get(uri).then(response => {
                    this.employees = response.data.data;
                });
            }
        },
    }
</script>
