<template>
    <v-tabs
            background-color="indigo"
            dark
            >
        <v-tab>
            Profile
        </v-tab>
        <v-tab>
            Employees
        </v-tab>

        <v-tab-item>
            <v-form>
                <v-container>
                    <v-row>
                        <v-col cols="2">
                            <v-avatar color="indigo"
                                      tile
                                      size="100" class="profile">
                                <v-icon v-if="!company.photo" dark large>mdi-account-circle</v-icon>
                                <v-img v-else :src="company.photo" alt="ABC"></v-img>
                            </v-avatar>
                        </v-col>
                        <v-col
                                cols="10"
                                >
                            <v-textarea
                                    v-model="company.description"
                                    clearable
                                    clear-icon="cancel"
                                    label="Description"
                                    ></v-textarea>
                        </v-col>

                        <v-col cols="12">
                            <v-file-input @change="onImageChange" prepend-icon="mdi-camera" accept="image/*" label="Photo"></v-file-input>
                        </v-col>
                        <v-col cols="12" class="text-right">
                            <v-btn :loading="loading" color="primary" large @click="save">Save</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
        </v-tab-item>
        <v-tab-item>
            <v-data-table
                    :headers="headers"
                    :items="employees"
                    :items-per-page="5"
                    :search="search"
                    class="elevation-1"
                    >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>Manage Employees</v-toolbar-title>
                        <v-divider
                                class="mx-4"
                                inset
                                vertical
                                ></v-divider>
                        <v-spacer></v-spacer>
                        <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Search"
                                single-line
                                hide-details
                                ></v-text-field>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="500px">
                            <template v-slot:activator="{ on }">
                                <v-btn color="primary" dark class="mb-2" v-on="on">New Employee</v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-form
                                            v-model="valid"
                                            ref="form"
                                            >
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="6">
                                                    <v-select item-text="position"
                                                              item-value="position_id"
                                                              :items="positions"
                                                              @change="changePosition"
                                                              v-model="selectedItem"
                                                              label="Position"
                                                              return-object
                                                    ></v-select>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="8">
                                                    <v-text-field  v-model="editedItem.salary"
                                                                  label="Salary"></v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-form>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                    <v-btn color="blue darken-1" text @click="saveEmployee">Save</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>
                <template v-slot:item.action="{ item }">
                    <v-icon
                            small
                            class="mr-2"
                    @click="editEmployee(item)"
                    >
                    mdi-pencil
                    </v-icon>
                    <v-icon
                            small
                    @click="deleteEmployee(item)"
                    >
                    mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-tab-item>
    </v-tabs>
</template>
<script>
export default {
  data() {
    return {
      company: this.$auth.user(),
      dialog: false,
      modal: false,
      valid: true,
      selectedItem: null,
      search: '',
      comment: '',
      loading: false,
      headers: [
        {
          text: "Position",
          value: "position",
        },
        {
          text: "Salary",
          value: "salary",
        },
        {
          text: "Actions",
          value: "action",
          sortable: false,
        },
      ],
      employees: [],
      editedIndex: -1,
      positions: [],
      editedItem: {
        salary: "",
        position: "",
        position_id: null
      },
      defaultItem: {
        salary: 123456,
        position: "",
        position_id: null
      },
    };
  },
  created() {
    this.company.upload = null;
    this.getEmployees();
    this.getPositions();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Employee" : "Edit Employee";
    },
  },
  methods: {
    changePosition() {
        this.editedItem = Object.assign(this.editedItem, this.selectedItem);
    },
    getEmployees() {
      let uri = `${process.env.MIX_APP_URL}/api/employees`;
      axios.get(uri).then((response) => {
        this.employees = response.data.data;
      });
    },
    getPositions() {
        let uri = `${process.env.MIX_APP_URL}/api/positions`;
        axios.get(uri).then((response) => {
            this.positions = response.data.data;
        });
    },
    deleteEmployee(item) {
      let uri = `${process.env.MIX_APP_URL}/api/employees/${item.id}`;
      axios.delete(uri).then((response) => {
        this.employees.splice(this.employees.indexOf(item), 1);
      });
    },
    editEmployee(item) {
      this.editedIndex = this.employees.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onImageChange(e) {
      let files = e;
      if (!files) {
        return;
      }
      this.createImage(files);
    },
    createImage(file) {
      let reader = new FileReader();
      let vm = this.company;
      reader.onload = (e) => {
        vm.upload = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    saveEmployee() {
        if (!this.$refs.form.validate()) {
            return;
        }
        if (this.editedIndex > -1) {
            Object.assign(this.employees[this.editedIndex], this.editedItem)
            let uri = `${process.env.MIX_APP_URL}/api/employees/${this.editedItem.id}`;
            axios.put(uri, this.editedItem).then((response) => {
                this.close()
            });
        } else {
            this.employees.push(this.editedItem)
            let uri = `${process.env.MIX_APP_URL}/api/employees`;
            axios.post(uri, this.editedItem).then((response) => {
                this.close()
            });
        }
    },
    save() {
      let uri = `${process.env.MIX_APP_URL}/api/companies/${this.company.id}`;
      this.loading = true;
      if (this.company.upload) {
        this.company.photo = this.company.upload;
      }
      axios.put(uri, this.company).then((response) => {
        this.loading = false;
      });
    },
  },
};
</script>

